body {
    padding: 0;
    margin: 0;
    background-color: #E7E7E1;
}

h5 {
    color: #FEFEFE;
    font-family: orpheuspro,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
}

h1 {
    color: black;
    font-family: orpheuspro,serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
}

h2 {
    color: black;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

h3 {
    color: black;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}

p {
    color: black;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.inline-block {
    display: inline-block;
  }
  
  .nav-container {
      display: flex;
      justify-content: space-between;
  }

  .w-100-P {
      width: 100%;
  }
  
  .logo {
    height: 100px;
    padding: 0;
    margin-left: 75px;
    text-align: center;
  }

  nav {
    width: 40%;
  }

  .navlinks {
    width: 100%;
    margin: 0;
}

.navlinks li {
    margin: 0 15px;
}
  
  
  .heroIMg {
    height: 200px;
    padding: 25px;
  }
  
  .content {
    width: 500px;
    margin: 0 auto;
  }
  
  footer {
    background-color: white;
    padding: 30px;
  }
  
  ul {
    display: inline-block;
    vertical-align: top;
    padding: 80px;
  }

.flexContainer {
    display: flex;
    width: 100vw;
}

.workGrid {
    display: grid;
    grid-template-rows: auto auto auto;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px;
    width: 33%;
}
.skills p{
    text-align: center;
}
.mySkills h1{
    text-align: center;
}

.border-blue {
    border: 5px blue solid;
}

.border-red {
    border: 5px red solid;
}
.border-green {
    border: 5px green solid;
}

.work {
    display: flex;
    margin: 10px 0px;
}
.work-image {
    width: 30%;
    padding: 25px;
}

.work-image img {
    height: 100%;
    width: 100%;
}

.work-description {
    width: 70%;
    padding-left: 50px;
    
}
.work-description h3{
    font-size: 25px;
}
.My-Work h1 {
    text-align: center;
   
}
.All-Projects {
    text-align: center;
}

button {
    background-color: #FEFEFE;
    border: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-family: proxima-nova,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

.flexContainer2 {
    display: flex;
    width: 65vm;
    margin: 50px;
}